html {
  text-align: center !important;
}

body {
  display: inline-block !important;
  font-size: 19px !important;
  max-width: 10em !important;
}

div, pre, ul, dl, ol, table, section, header, article, footer, h1, h2, h3, h4, h5, h6, h7, h8, h9 {
  text-align: left !important;
}

p, blockquote {
  text-align: justify !important;
}
