html {
  text-align: center !important;
}

body {
  display: inline-block !important;
  font-size: 19px !important;
  max-width: 180px !important;
}

div, pre, ul, dl, ol, table, section, header, article, footer, em, b, form, h1, h2, h3, h4, h5, h6, h7, h8, h9 {
  text-align: left !important;
  max-width: 180px !important;
}

p, blockquote {
  text-align: justify !important;
  max-width: 180px !important;
}

img {
  text-align: center !important;
  max-width: 610px !important;
  width: auto !important;
  height: auto !important;
}
